@import "../../scss/palette";
@import "../../scss/animations";

.the-prime-hunt--extension--root.draggable-resizable {
  background-color: $base-background-color;
  color: $base-text-color;
  font-family: 'Inter', serif;
  position: fixed;
  box-sizing: content-box;
  z-index: 9999999;

  &.move {
    cursor: move;
  }

  &.hidden,
  .hidden {
    display: none;
  }

  &.invisible,
  .invisible {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  .strong {
    color: $base-text-color-strong;
  }

  > .app-wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }

  .icon {
    cursor: pointer;
  }

  .drag-activator {
    cursor: move;
    user-select: none;
  }
}
