{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "react-app",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ]
}