$base-background-color: #292C3C;
$lighter-background-color: #3B3D4F;
$base-background-area-color: #303344;
$base-text-color: #CFD0D3;
$base-text-color-strong: #F9F9F9;
$base-selection-color: #4C4F65;
$base-disabled-text-color: #727894;

$success: #4AC18E;
$warning: #EE9D23;
$error: #EB3131;
