.not-found-content-view {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  line-height: 1.5;

  div {
    font-size: 15px;
    max-width: 240px;
    text-align: center;
  }
}
