.draggable-resizable {
  position: relative;

  &.move {
    cursor: move;
  }

  > .resizer {
    z-index: 2;
    position: absolute;
    background-color: transparent;
  }

  > .resizer-top-left,
  .resizer-top-right,
  .resizer-bottom-left,
  .resizer-bottom-right {
    width: 8px;
    height: 8px;
    z-index: 3;
  }

  > .resizer-top-left {
    top: 0;
    left: 0;
    cursor: nw-resize;
  }

  > .resizer-top-right {
    top: 0;
    right: 0;
    cursor: ne-resize;
  }

  > .resizer-bottom-right {
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }

  > .resizer-bottom-left {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
  }

  > .resizer-top,
  > .resizer-bottom {
    height: 3px;
    width: 100%;
  }

  > .resizer-top {
    top: 0;
  }

  > .resizer-bottom {
    bottom: 0;
  }

  > .resizer-left,
  > .resizer-right {
    width: 3px;
    height: 100%;
  }

  > .resizer-left {
    left: 0;
  }

  > .resizer-right {
    right: 0;
  }

  &:not(.disallowResize) {
    > .resizer-top {
      cursor: n-resize;
    }
    > .resizer-left {
      cursor: w-resize;
    }
    > .resizer-right {
      cursor: e-resize;
    }
    > .resizer-bottom {
      cursor: s-resize;
    }
  }
}
