@import "../../../scss/palette";

.dropdown.form-dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;

  .form-area {
    height: 34px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    position: relative;
    padding: 10px 20px 10px 10px;

    &.multi {
      padding: 4px 10px;
    }

    .icon {
      fill: white;
      position: absolute;
      right: 10px;
      bottom: 12px;
      width: 9px;
      height: 9px;
      transform: rotate(180deg);
    }
  }

  .dropdown-header {
    margin-bottom: 3px;
  }

  .form-area {
    background-color: $lighter-background-color;
  }

  &.disabled {
    .form-area {
      color: $base-disabled-text-color;
      .icon {
        fill: $base-disabled-text-color;
      }
    }
  }
}

.validation-error {
  .dropdown.form-dropdown .dropdown-opener {
    border-radius: 4px;
    border: 1px solid $error;
  }
}

.dropdown-menu.app-dropdown-menu.form-dropdown-menu {
  margin-top: -3px;
  width: calc(100% - 40px);
  padding: 0;
  overflow: hidden;

  .list-item {
    cursor: pointer;
    padding: 6.6px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .list-item.selected,
  .list-item:hover {
    background-color: $base-selection-color;
  }

  .big-list {
    max-height: 250px;
  }
}
