@import "../../../scss/palette";

.list.dropdown-menu--list {
  .list-item {
    cursor: pointer;
    padding: 6.6px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      background-color: $base-selection-color;
    }

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      fill: $base-text-color;
    }
  }
}
