@import '../../../scss/palette';
@import '../../../scss/animations';

.button.app-button {
  color: $base-text-color;
  font-family: 'Inter', sans-serif;
  border-radius: 4px;
  background-color: transparent;
  height: 30px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;

  &:not(:disabled):active {
    animation: button-press-animation 0.2s ease-in-out;
  }

  &.success-btn {
    background-color: $success;
  }

  &:not(.disabled) {
    .icon {
      fill: $base-text-color;
    }
  }

  &.disabled {
    color: $base-disabled-text-color;

    >.button-icon {
      .icon {
        fill: $base-disabled-text-color;
        cursor: default;
      }
    }
  }
}
