@import "../../../scss/palette";

.settings-footer-view {
  display: flex;
  justify-content: space-between;

  .button.static-button.app-button:not(.disabled) {
    .icon {
      fill: $base-text-color-strong;

      &.check-icon {
        width: 13px;
        height: 10px;
      }

      &.plus-icon {
        width: 13px;
        height: 13px;
        stroke: $base-text-color-strong;
        stroke-width: 0.3px;
      }
    }
  }
}
