@import '../../scss/palette';

.resource-field-name {
  display: inline-flex;
  justify-content: center;
  align-self: center;

  .field-name {
    margin-right: 2px;
    font-family: Inter, sans-serif;
    font-weight: 500;
  }

  > .icon {
    height: 13px;
    width: 13px;
    margin-right: 7px;
    align-self: center;
    fill: $base-text-color;
  }

  &.disabled {
    .field-name {
      color: $base-disabled-text-color;
    }

    > .icon {
      fill: $base-disabled-text-color;
    }
  }
}

.resource-count-values-tooltip {
  max-width: 270px;
}