@import "../../../scss/palette";

.success-minus-icon {
  width: 16px;
  height: 16px;
  background-color: $success;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .icon {
    width: 10px;
    stroke: white;
    stroke-width: 2px;
  }
}