@import "../../scss/palette";
@import "../../scss/animations";

.app-header {
  .app-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > .group {
      display: flex;
      align-items: center;

      .spinner {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 3px solid;
        border-color: $success #0000;
        animation: spinner-animation 1s infinite;
        margin-left: 5px;
      }

      .logo-icon {
        width: 64px;
        height: 28px;
      }

      > .name {
        margin-left: 12px;
        align-self: center;
      }

      .static-button {
        .download-icon {
          margin-right: 8px;
        }
      }

      .close-app-button,
      .faq-button,
      .settings-button {
        margin-left: 12px;
      }
    }
  }
}

.app-wrapper.ssm {
  .app-header {
    .group:last-child {
      margin-top: 10px;
      width: 100%;

      .close-app-button {
        position: absolute;
        top: 21px;
        right: 20px;
      }
    }
  }
}

