@import "../../../scss/palette";

.button.app-button.static-button {
  background-color: $lighter-background-color;
  padding: 5px 12px;
  color: $base-text-color-strong;

  &:hover .icon {
    fill: $base-text-color-strong;
  }

  .button-content {
    .icon {
      min-width: 14px;
    }
  }

  &.disabled {
    cursor: default;
    color: $base-disabled-text-color;

    .icon {
      fill: $base-disabled-text-color;
    }
  }
}
