@import '../../../scss/palette';

.collapsible-resource {
  .collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .waste-basket-icon.icon {
      fill: $base-text-color;
      width: 22px;
      height: 22px;
      display: flex;
      align-self: center;
      margin-right: 6px;
    }
  }
}