@import "../../scss/palette";

.bulk-resources-panel {
  > .count-selected {
    display: inline-flex;
    justify-content: center;

    span {
      margin-right: 4px;
    }
  }

  > .buttons-area {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;

    .button {
      margin: 2px 0;
    }

    .button:not(:last-child) {
      margin-right: 8px;
    }
  }

  &.empty {
    .count-selected,
    .count-selected span {
      color: $base-disabled-text-color;
    }
  }
}

.app-tooltip.max-selected-tooltip.tooltip-content {
  line-height: 1.4;
  max-width: 236px;
}

.dropdown-menu.app-dropdown-menu.dropdown-search-sites-menu {
  padding: 0;
  overflow: hidden;

  .search-sites-list {
    .list-item {
      cursor: pointer;
      padding: 6.6px 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        fill: $base-text-color;
      }
    }

    .list-item:hover {
      background-color: $base-selection-color;
    }

    .go-outside-icon {
      position: relative;
      top: 2px;
    }
  }
}
