@import "../../scss/palette";

.bulk-resources-panel {
  > .count-selected {
    display: inline-flex;
    justify-content: center;

    span {
      margin-right: 4px;
    }
  }

  > .buttons-area {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;

    .button {
      margin: 2px 0;
    }

    .button:not(:last-child) {
      margin-right: 8px;
    }

    .dropdown:not(:last-child) {
      margin-right: 6px;
    }
  }

  &.empty {
    .count-selected,
    .count-selected span {
      color: $base-disabled-text-color;
    }
  }
}

.app-tooltip.max-selected-tooltip.tooltip-content {
  line-height: 1.4;
  max-width: 236px;
}
