@import "../../../scss/palette";

.bulk-resources-panel {
  > .count-selected span {
    margin-right: 4px;
  }

  > .buttons-area {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;

    .button {
      margin: 2px 0;
    }

    .button:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.dropdown-menu.app-dropdown-menu.dropdown-search-sites-menu {
  padding: 0;
  overflow: hidden;

  .search-sites-list {
    .list-item {
      cursor: pointer;
      padding: 6.6px 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        fill: $base-text-color;
      }

      &:last-child {
        display: flex;
        align-items: center;
        border-top: 1px solid $base-selection-color;
      }
    }

    .list-item:hover {
      background-color: $base-selection-color;
    }
  }
}