.button {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-flex;

  > .button-icon {
    display: inline-flex;
    width: 14px;
    height: 14px;
    margin-right: 5px;

    .icon {
      width: 14px;
      height: 14px;
      display: inline-flex;
      align-self: center;
    }
  }

  > .button-content {
    display: inline-flex;
  }

  &:disabled {
    cursor: default;
  }
}
