@import "../../../scss/palette";

.app-tooltip.tooltip-content {
  padding: 10px 0;

  .tooltip-content-wrapper {
    padding: 12px 14px;
    background-color: $base-background-area-color;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  }
}