@import "../../../scss/palette";

.resource-list-item {
  cursor: pointer;
  overflow: hidden;

  .resource-list-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

    .checkbox .content {
      white-space: nowrap;
    }

    .action-menu {
      display: inline-flex;
      align-items: center;
      position: absolute;
      right: -4px;
      padding: 0 10px;
      background-color: $base-background-area-color;

      > .icon {
        height: 15px;
        width: auto;
        max-width: 15px;
        fill: $base-text-color;
        padding: 4px;
        border-radius: 4px;

        &:not(:first-child) {
          margin-left: 6px;
        }

        &:hover {
          background-color: $lighter-background-color;
        }

        &:active {
          animation: button-press-animation 0.2s ease-in-out;
        }
      }

      .minus-icon {
        width: 16px;
      }

      .animated-copy-icon {
        width: 13px;
      }
    }
  }

  &:not(:hover) .action-menu {
    opacity: 0;
  }
}